.settings/
.cproject
.project
debug/
release/
object_script.OpenBloxStudio.Debug
object_script.OpenBloxStudio.Release
QtMakefile
QtMakefile.Debug
QtMakefile.Release
res/
lua_src/
raknet/
res
lua_src
raknet
